<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>

    <!-- We omit the console appender so that standard logs do not print to stdout. -->
    <!-- This allows regular System.out.println messages to be clearly visible. -->
    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>
</configuration>
